* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(7, 118, 245);
    text-align: center;
}

#title {
    font-size: 20pt;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


main {
    margin: auto;
    width: 290px;
    height: 430px;
    text-align: center;
    font-size: 20pt;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

select {
    font-size: 60pt;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#play {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 20pt;
    border-radius: 10px;
    text-align: center;
}

#cpuChoice {
    margin: 0px;
    font-size: 60pt;
}

footer {
    background-color: white;
    font-size: 18pt;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

#score {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#reset {
    margin: auto;
    display: block;
    font-size: 15pt;
}
